<% provide(:title, current_user.name) %>
<ul>
	<li><%= link_to "My profile",   profile_path %></li>
	<li><%= link_to "Following",   '#' %></li>
	<li><%= link_to "My Stories",   profile_mystories_path %></li>
	<li><%= link_to "Settings",   profile_edit_path %></li>
	<li><%= link_to "My Achievements",   '#' %></li>
	<% if current_user.role == 2 %>
	<li><%= link_to "Admin Panel",   rails_admin_path %></li>
	<% end %>
</ul>

<div class="row">
	<aside class="span4">
	<section>
		<h1>
		<%= image_tag(current_user.avatar) %>
			<%= current_user.name %>
		</h1>
	</section>
	</aside>
	<a class="btn btn-default" href="profile/addbook" type="submit">
      		Add Story
        </a>
	<div class="span8">
		
	  <% if @current_user.books.any? %>
      	<h3>Stories (<%= @current_user.books.count %>)</h3>
      	<%= will_paginate @books %>
      		<ul class="books">
			  <% @books.each do |book| %>
			    <li>
			      <%= link_to book.name, book %>
				  <span class="timestamp">
				    Posted <%= time_ago_in_words(book.created_at) %> ago.
				  </span>
				  <%= rating_for book, "rate" , :disable_after_rate => true, :imdb_avg => true %>
			    </li>
			  <% end %>
			</ul>
      	<%= will_paginate @books %>
    <% end %>		
	</div>
</div>

