<% provide(:title, @book.name) %>
<div class="row">
	<div class="span8">
		<a class="btn btn-default" href= <%= @book.id.to_s + "/chapter/new"%>  type="submit">
      		Add New Chapter
   		 </a>
	  <% if @book.chapters.any? %>
      	<h3> <%= @book.name %> </h3>
      	<%= will_paginate @chapters %>
      		<ul class="books">
			  <% @chapters.each do |chapter| %>
			    <li>
			      <%= link_to chapter.name, book_chapter_path(@book.id, chapter.id) %>
				  <span class="timestamp">
				  
				  </span>
			    </li>
			  <% end %>
			</ul>
      	<%= will_paginate @chapters %>
      <% end %>		
	
	<p>Comments : </p></br>
	<%= will_paginate @comments %>
		<ul class="comment">
	  <% @comments.each do |comment| %>
	    <li>
	      <%= markdown(comment.content) %>
	    </li>
	  <% end %>
	</ul>
  	<%= will_paginate @comments %>
  	<% if user_signed_in? %>
  	<div class="row">
  		<div class="span6 offset3">
		<%= form_for @comment, url: book_comments_path(@book.id), html: {method: :get} do |f| %>

	      <%= f.label :content %>
	      <%= f.text_field :content %>

	      <%= f.submit "leave comment", class: "btn btn-large btn-primary" %>
	    <% end %>
		</div>
	</div> 
	<% end %>


	</div>
</div>