<% provide(:title, @book.name) %>
<div class="row">
	<div class="span8">
		<a class="btn btn-default" href= <%= @book.id.to_s + "/chapter/new"%>  type="submit">
      		Add New Chapter
   		 </a>
	  <% if @book.chapters.any? %>
      	<h3> <%= @book.name %> </h3>
      	<%= will_paginate @chapters %>
      		<ul class="books">
			  <% @chapters.each do |chapter| %>
			    <li>
			      <%= link_to chapter.name, book_chapter_path(@book.id, chapter.id) %>
				  <span class="timestamp">
				  
				  </span>
			    </li>
			  <% end %>
			</ul>
      	<%= will_paginate @chapters %>
    <% end %>		
	</div>
</div>
