 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if user_signed_in? %>
      <a class="navbar-brand" href="#"><%= greeting() %></a>
      <% else %>
      <a class="navbar-brand" href="#">Stories</a>
      <% end %>
    </div>

      
    <ul class="nav navbar-nav">

      <li class='search'>
      <%= form_tag books_path, :method => 'get' do %>
        
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        
      <% end %>
      </li>
      <li><%= link_to t('home'),   root_path %></li>
       <li><%= link_to t('users'),   users_path %></li>
       <li><%= link_to t('books'),   books_path %></li>
       <li><%= link_to t('news'),   '#' %></li>
       <li><%= link_to t('help'),   help_path %></li>
       
       <% if user_signed_in? %>
       <li><%= link_to t('logout'),   logout_path %></li>
       <% else %>
       <li><%= link_to t('login'),   login_path %></li>
       <% end %>
       <li>

       <div id='banner'>
          <%= form_tag '#', class: 'locale', method: 'post' do %>
            <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
            <!--<%= submit_tag 'submit' %>!-->
            <%= javascript_tag "$('.locale input').hide()" %>
          <% end %>
          <%= @page_title || t('title') %>
      </div>
      </li>

    </ul>
  </div>

</nav>